{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    
    

    <br></br>
     <center><h1>Registarse</h1></center>
       <br></br>
   
   <div class="container">
    <div class="row">
    <div class="form-group col">

        {{ form_start(registrationForm) }}
        
        
        {{ form_row(registrationForm.email) }}
            <br></br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <br></br>
        {{ form_row(registrationForm.nombre) }}
            <br></br>
        {{ form_row(registrationForm.agreeTerms) }}

         <br></br>
         </div>
          </div>
       </div>

       <div class="container">
        <button type="submit" class="btn btn-primary">Registarse</button>
    {{ form_end(registrationForm) }}
           </div>

   
    

{% endblock %}
