{% extends 'base.html.twig' %}

{% block title %}Factura{% endblock %}

{% block body %}
    <br></br>
    <center><h1>ELIMINAR IMAGEN</h1><center/>
    <br></br>
          
     <div class="container">
       <div class="col-md-12">
     <table class="table">
        <tbody>
            <tr>
                <th>Item</th>
                <td>{{ factura.item }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ factura.descripcion }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ factura.image }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
   <div class="container" style="text-align:right;padding:5px;">
    <a href="{{ path('factura_index') }}" class="btn btn-primary">Volver Lista</a>
   </div>

    {{ include('factura/_delete_form.html.twig') }}

    
{% endblock %}
